<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Blog | ishandeveloper</title>
</head>
<body>
    <nav class="nav-desk">
        <center>
            <div class="nav-logo">
                <a class="nav-title" href="/">
                    Blog | <span>ishandeveloper</span>
                    <!-- <span>by ishandeveloper</span> -->
                </a>
            </div>
            <div class="nav-items">
                <ul>
                    <li><span><a href="http://www.ishandeveloper.com">Portfolio</a></span></li>
                    
                </ul>
            </div>

        </center>
    </nav>
