<%- include('partials/header'); -%>

<div class="blog-container compose-container">
    <div class="col-md-12">
        <h1 class="post-title compose-hero">
            Write Something ..
        </h1>
        <textarea type="text" class="compose-input">

        </textarea>

    </div>
    <div class="col-md-12">
        <button class="read-more publish-btn">
            Publish
          </button>
    </div>
</div>

<%- include('partials/footer'); -%>